<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= username %>, Welcome to <%= title %></p>
    <a href="/joke">Joke</a>
    <a href="/jokes">All Jokes</a>
    <a href="/addjoke">Add Jokes</a>
  </body>
</html>
