<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= joke %></p>
    <a href="/">Index</a>
    <a href="/jokes">All Jokes</a>
  </body>
</html>
