<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <% jokes.forEach(function(joke){ %>
            <li><%= joke %></li>
        <% }); %>
    </ul>
    <a href="/">Index</a>
    <a href="/joke">Joke</a>
  </body>
</html>
